body,
html {
  height: 100%;
}

#main {
  background-color: #96CEB4;
}

#functions {
  background-color: #FFEEAD;
}

#rateme {
  background-color: #FF6F69;
}

.no-more {
  background-color: #FFCC5C;
}

#greetings {
  background-color: #AAD8B0;
}

#indicator {
  position: fixed;
  left: 0px;
  top: 0px;
  display: block;
  width: 5px;
  z-index: 9999;
  background: rgba(225, 75, 75, 0.85);
}

#scroller {
  width: 1px;
  position: relative;
}

#header-background {
  background-color: #11D182;
}

.header {
  height: 175px;
}

.navbar-logo {
  background-image: url("../img/icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  height: 75px;
}

.navbar-link {
  color: #C7402D;
  font-size: 2rem;
}

.navbar-link:hover {
  background-color: white;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.functions {
  margin-bottom: 50px;
}

.footer-contact-button {
  margin-top: 50px 0;
  margin-bottom: 50px 0;
}

.fa-twitter {
  font-size: 48px;
  color: dodgerblue;
}

.fa-twitter:hover {
  color: #006ad1;
}

.h1 {
  color: gold;
  font-size: 60px !important;
}

.h2 {
  color: black;
  font-size: 40px !important;
}

h6 {
  color: #008A6E;
  color: #006C8C;
}

.niceFont, .h1, .h2 {
  font-family: Aldrich, sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
}

.header-background {
  background-color: tomato;
  color: cornsilk;
}

.content-text {
  font-family: 'Roboto', sans-serif, 'Times New Roman';
  font-size: 30px;
}

.twitter {
  background-image: url("../img/twitter.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
}

.sd-card-info {
  font-size: 20px;
}

.spacerMargin {
  margin-top: 100px;
  margin-bottom: 100px;
}

.spacerPadding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.spacerPadding200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.spacerBottom {
  padding-bottom: 100px;
}

.spacerTop {
  padding-top: 100px;
}

.paralaxFooter {
  background-image: url("../img/paralax.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  background-attachment: fixed;
}

.paralaxHeader {
  background-image: url("../img/all3devices.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  background-attachment: fixed;
}

footer {
  background-color: dodgerblue;
}

.footer-copyright {
  color: ivory;
  font-size: 25px;
  text-align: center;
}

.btn-info {
  background-color: orangered;
}

.btn-info:hover {
  background-color: tomato;
}

.nintendods {
  background-image: url("../img/niceDisplay.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
}

.footer-title {
  color: crimson;
  background-color: gold;
}

@media (max-width: 991.98px) {
  .header {
    height: 300px;
  }
  .navbar-logo {
    background-size: contain;
  }
}
/*# sourceMappingURL=default.css.map */