@import "mixins.scss";

body,
html {
    height: 100%;
}

#main {
    background-color: #96CEB4;
    padding: 350px 0;
}

#devices {
    background-color: darkviolet;
}

#firmware {
    background-color: greenyellow;
}

.no-more {
    background-color: #FF3632;
}

#greetings {
    background-color: #AAD8B0;
}

// Farbauswahl fuer die Kasten:
// https://color.adobe.com/de/life-s-a-beach-color-theme-11738112/edit/?copy=true&base=2&rule=Custom&selected=4&name=Kopie%20von%20life%20s%20a%20beach&mode=rgb&rgbvalues=0.5882352941176471,0.807843137254902,0.7058823529411765,1,0.9333333333333333,0.6784313725490196,1,0.43529411764705883,0.4117647058823529,1,0.8,0.3607843137254902,0.6666666666666666,0.8470588235294118,0.6901960784313725&swatchOrder=0,1,2,3,4


#header-background {
    // height: 100px;
    // line-height: 100px;
    // padding-bosttom: 150px;
    background-color: #11D182;
}

.header {
    height: 175px;
}

.navbar-logo {
    @include background-image("../img/icon.png", 300px, contain);
    height: 75px;
}

.navbar-link {
    color: #C7402D;
    font-size: 2rem;

    &:hover {
        background-color: white;
        -webkit-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
    }
}

// .content-title {}
.functions {
    margin-bottom: 50px;
}

.footer-contact-button {
    @include spacerMargin(50px 0);
    text-decoration: none !important;
}

.fa-twitter {
    font-size: 48px;
    color: dodgerblue;

    &:hover {
        color: darken(dodgerblue, 15%);
    }
}

// New things
// .devices {
//     @include background-image("../img/all3devices.jpg", 350px, contain);
//     margin-bottom: 100px;
// }

.h1 {
    color: gold;
    font-size: 60px !important;
    text-align: center;
    @extend .niceFont;
}

.h2 {
    color: black;
    font-size: 35px !important;
    text-align: center;
    @extend .niceFont;
}

h6 {
    color: #008A6E;
    color: #006C8C;
}

.justify {
    text-align: justify;
}

.niceFont {
    font-family: Aldrich, sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
}

.header-background {
    background-color: tomato;
    color: cornsilk;
}

.content-text {
    font-family: 'Aldrich', sans-serif, 'Times New Roman';
    font-size: 30px;
}

.twitter {
    @include background-image("../img/twitter.png", 200px, contain);
}

.sd-card-info {
    font-size: 20px;
}

.spacerMargin {
    @include spacerMargin(100px);
}

.spacerPadding {
    @include spacerPadding(100px);
}

.spacerPadding200 {
    @include spacerPadding(200px);
}

.spacerBottom {
    @include spacerBottom(100px);
}

.spacerTop {
    @include spacerTop(100px);
}

.paralaxHeader {
    @include Paralax("../img/all3devices.jpg");
    background-attachment: fixed;
    height: auto;
}

.paralaxFooter {
    @include Paralax("../img/footerParalax.jpg");
    background-attachment: fixed;
}

footer {
    background-color: dodgerblue;
}

.footer-copyright {
    color: ivory;
    font-size: 25px;
    text-align: center;
}

.btn-info {
    background-color: orangered;
    &:hover {
        background-color: tomato;
    }
}

.nintendods {
    @include background-image("../img/niceDisplay.png", 500px, contain)
}

.SDCard {
    @include background-image("../img/SDCard.png", 300px, contain);
    position: relative;
}

.SDCaption {
    position: absolute;
    bottom: -100px;
    left: 0;
}

.footer-title {
    color: crimson;
    background-color: gold;
    
}

.header {
    height: 100%;
}

// .reverse {
//     unicode-bidi: bidi-override;
//     direction: rtl;
//   }

@import "responsive.scss";